In [137]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [138]:
# test data
train = pd.read_csv('./archive/Train-1542865627584.csv')
train_inpatient = pd.read_csv('./archive/Train_Inpatientdata-1542865627584.csv')
train_outpatient = pd.read_csv('./archive/Train_Outpatientdata-1542865627584.csv')
train_beneficiary = pd.read_csv('./archive/Train_Beneficiarydata-1542865627584.csv')

# test data
test = pd.read_csv('./archive/Test-1542969243754.csv')
test_beneficiary=pd.read_csv('./archive/Test_Beneficiarydata-1542969243754.csv')
test_inpatient=pd.read_csv('./archive/Test_Inpatientdata-1542969243754.csv')
test_outpatient=pd.read_csv('./archive/Test_Outpatientdata-1542969243754.csv')

In [139]:
train.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [140]:
train_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,2,2,2,2,2,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,1,2,2,2,2,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,1,1,2,2,2,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,2,2,2,2,1,2,1,2,2,2,2,0,0,1790,1200

In [141]:
train_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [142]:
train_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [143]:
# converting date of birth and date of death to datetime format
train_beneficiary['DOB'] = pd.to_datetime(train_beneficiary['DOB'], format='%Y-%m-%d')
train_beneficiary['DOD'] = pd.to_datetime(train_beneficiary['DOD'], format='%Y-%m-%d')
test_beneficiary['DOB'] = pd.to_datetime(test_beneficiary['DOB'], format='%Y-%m-%d')
test_beneficiary['DOD'] = pd.to_datetime(test_beneficiary['DOD'], format='%Y-%m-%d')

# calculating age in years and round to the nearest integer
train_beneficiary['Age'] = round((train_beneficiary['DOD'] - train_beneficiary['DOB']).dt.days / 365)
test_beneficiary['Age'] = round((test_beneficiary['DOD'] - test_beneficiary['DOB']).dt.days / 365)

In [144]:
# finding latest dod for finding age
print(train_beneficiary['DOD'].max())

2009-12-01 00:00:00

In [145]:
# calculating age for beneficiaries with missing 'Age' values, assuming 2009-12-01 as the current year
train_beneficiary['Age'] = round((pd.to_datetime('2009-12-01') - train_beneficiary['DOB']).dt.days / 365)
test_beneficiary['Age'] = round((pd.to_datetime('2009-12-01') - test_beneficiary['DOB']).dt.days / 365)
train_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age
0,BENE11001,1943-01-01,NaT,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70,67.0
1,BENE11002,1936-09-01,NaT,2,1,0,39,280,12,12,2,2,2,2,2,2,2,2,2,2,2,0,0,30,50,73.0
2,BENE11003,1936-08-01,NaT,1,1,0,52,590,12,12,1,2,2,2,2,2,2,1,2,2,2,0,0,90,40,73.0
3,BENE11004,1922-07-01,NaT,1,1,0,39,270,12,12,1,1,2,2,2,2,1,1,1,1,2,0,0,1810,760,87.0
4,BENE11005,1935-09-01,NaT,1,1,0,24,680,12,12,2,2,2,2,1,2,1,2,2,2,2,0,0,1790,1200,74.0

In [146]:
# finding how many are beneficiaries are alive; alive = 0, dead = 1
train_beneficiary['AliveorDead'] = train_beneficiary['DOD'].notna().astype(int)
test_beneficiary['AliveorDead'] = test_beneficiary['DOD'].notna().astype(int)

In [147]:
# we don't need the DOB and DOD now
train_beneficiary = train_beneficiary.drop('DOB', axis=1)
train_beneficiary = train_beneficiary.drop('DOD', axis=1)
test_beneficiary = test_beneficiary.drop('DOB', axis=1)
test_beneficiary = test_beneficiary.drop('DOD', axis=1)

In [148]:
# calculating number of days patient was admitted

train_inpatient['AdmissionDt'] = pd.to_datetime(train_inpatient['AdmissionDt'], format='%Y-%m-%d')
train_inpatient['DischargeDt'] = pd.to_datetime(train_inpatient['DischargeDt'], format='%Y-%m-%d')
test_inpatient['AdmissionDt'] = pd.to_datetime(test_inpatient['AdmissionDt'], format='%Y-%m-%d')
test_inpatient['DischargeDt'] = pd.to_datetime(test_inpatient['DischargeDt'], format='%Y-%m-%d')

train_inpatient['NumberofDaysAdmitted'] = (train_inpatient['DischargeDt'] - train_inpatient['AdmissionDt']).dt.days
test_inpatient['NumberofDaysAdmitted'] = (test_inpatient['DischargeDt'] - test_inpatient['AdmissionDt']).dt.days

# converting 'ClaimStartDt' and 'ClaimEndDt' to datetime format
train_inpatient['ClaimEndDt'] = pd.to_datetime(train_inpatient['ClaimEndDt'], format='%Y-%m-%d')
train_inpatient['ClaimStartDt'] = pd.to_datetime(train_inpatient['ClaimStartDt'], format='%Y-%m-%d')

test_inpatient['ClaimEndDt'] = pd.to_datetime(test_inpatient['ClaimEndDt'], format='%Y-%m-%d')
test_inpatient['ClaimStartDt'] = pd.to_datetime(test_inpatient['ClaimStartDt'], format='%Y-%m-%d')

# Duration of Claim
train_inpatient['DurationofClaim'] = (train_inpatient['ClaimEndDt'] - train_inpatient['ClaimStartDt']).dt.days
test_inpatient['DurationofClaim'] = (test_inpatient['ClaimEndDt'] - test_inpatient['ClaimStartDt']).dt.days

In [149]:
# adding column admitted to identify that the particular patient was admitted

train_inpatient['Admitted'] = 1
test_inpatient['Admitted'] = 1

In [150]:
# adding column admitted to identify that the particular patient was released

train_outpatient['Admitted'] = 0
test_outpatient['Admitted'] = 0

In [151]:
# converting 'ClaimStartDt' and 'ClaimEndDt' to datetime format
train_outpatient['ClaimEndDt'] = pd.to_datetime(train_outpatient['ClaimEndDt'], format='%Y-%m-%d')
train_outpatient['ClaimStartDt'] = pd.to_datetime(train_outpatient['ClaimStartDt'], format='%Y-%m-%d')

test_outpatient['ClaimEndDt'] = pd.to_datetime(test_outpatient['ClaimEndDt'], format='%Y-%m-%d')
test_outpatient['ClaimStartDt'] = pd.to_datetime(test_outpatient['ClaimStartDt'], format='%Y-%m-%d')

# Duration of Claim
train_outpatient['DurationofClaim'] = (train_outpatient['ClaimEndDt'] - train_outpatient['ClaimStartDt']).dt.days
test_outpatient['DurationofClaim'] = (test_outpatient['ClaimEndDt'] - test_outpatient['ClaimStartDt']).dt.days

In [152]:
common_cols = list(set(train_inpatient.columns).intersection(set(train_outpatient.columns)))
train_patient = pd.merge(train_outpatient, train_inpatient, on=common_cols, how='outer')
test_patient = pd.merge(test_outpatient, test_inpatient, on=common_cols, how='outer')

print(train_patient.shape)
print(test_patient.shape)

(558211, 33)
(135392, 33)

In [153]:
df_train = train_patient.merge(train_beneficiary, on='BeneID', how='inner')

df_test = test_patient.merge(test_beneficiary, on='BeneID', how='inner')

In [154]:
df_train1 = pd.merge(train, df_train,on='Provider')

df_test1 = pd.merge(test, df_test,on='Provider')

In [155]:
# For df_train1, apply the replacement and reassign
df_train1['RenalDiseaseIndicator'] = df_train1['RenalDiseaseIndicator'].replace('Y', '1')
df_train1['RenalDiseaseIndicator'] = df_train1['RenalDiseaseIndicator'].astype(int)

# For df_test1, already using inplace=True, so no change needed
df_test1['RenalDiseaseIndicator'] = df_test1['RenalDiseaseIndicator'].replace('Y', '1')
df_test1['RenalDiseaseIndicator'] = df_test1['RenalDiseaseIndicator'].astype(int)

In [156]:
# ClaimDiagnoseIndex, ClmProcedureIndex, ChronicCondIndex

df_train1['ClmDiagnosisCodeIndex'] = df_train1.filter(regex='ClmDiagnosisCode_').notnull().sum(axis=1)
df_test1['ClmDiagnosisCodeIndex'] = df_test1.filter(regex='ClmDiagnosisCode_').notnull().sum(axis=1)

df_train1['ClmProcedureCodeIndex'] = df_train1.filter(regex='ClmProcedureCode_').notnull().sum(axis=1)
df_test1['ClmProcedureCodeIndex'] = df_test1.filter(regex='ClmProcedureCode_').notnull().sum(axis=1)

In [157]:
# drop all features starting 

columns_to_drop = df_train1.filter(regex='ClmProcedureCode_|ClmDiagnosisCode_').columns
df_train1 = df_train1.drop(columns_to_drop, axis=1)
df_test1 = df_test1.drop(columns_to_drop, axis=1)

In [158]:
# fill nan for NumberofDaysAdmitted with 0

df_train1['NumberofDaysAdmitted'] = df_train1['NumberofDaysAdmitted'].fillna(0)
df_test1['NumberofDaysAdmitted'] = df_test1['NumberofDaysAdmitted'].fillna(0)

In [159]:
df_train1 = df_train1.dropna(subset=['AttendingPhysician'])
df_test1 = df_test1.dropna(subset=['AttendingPhysician'])

# Fill missing values with mean

df_train1['DeductibleAmtPaid'] = df_train1['DeductibleAmtPaid'].fillna(df_train1['DeductibleAmtPaid'].mean())
df_test1['DeductibleAmtPaid'] = df_test1['DeductibleAmtPaid'].fillna(df_test1['DeductibleAmtPaid'].mean())

In [160]:
print(df_train1.isnull().sum())

Provider                                0
PotentialFraud                          0
BeneID                                  0
ClaimID                                 0
ClaimStartDt                            0
ClaimEndDt                              0
InscClaimAmtReimbursed                  0
AttendingPhysician                      0
OperatingPhysician                 442270
OtherPhysician                     356980
DeductibleAmtPaid                       0
ClmAdmitDiagnosisCode              411622
Admitted                                0
DurationofClaim                         0
AdmissionDt                        516341
DischargeDt                        516341
DiagnosisGroupCode                 516341
NumberofDaysAdmitted                    0
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
Age                                     0
AliveorDead                             0
ClmDiagnosisCodeIndex                   0
ClmProcedureCodeIndex                   0
dtype: int64

In [161]:
# Count the number of duplicate values per column
duplicates_per_column = df_train1.apply(lambda x: x.duplicated().sum())

# Print the result
print(duplicates_per_column)

Provider                           551293
PotentialFraud                     556701
BeneID                             418225
ClaimID                                 0
ClaimStartDt                       556305
ClaimEndDt                         556337
InscClaimAmtReimbursed             556265
AttendingPhysician                 474640
OperatingPhysician                 521389
OtherPhysician                     510250
DeductibleAmtPaid                  556685
ClmAdmitDiagnosisCode              552609
Admitted                           556701
DurationofClaim                    556666
AdmissionDt                        556304
DischargeDt                        556337
DiagnosisGroupCode                 555966
NumberofDaysAdmitted               556667
Gender                             556701
Race                               556699
RenalDiseaseIndicator              556701
State                              556651
County                             556389
NoOfMonths_PartACov                556690
NoOfMonths_PartBCov                556690
ChronicCond_Alzheimer              556701
ChronicCond_Heartfailure           556701
ChronicCond_KidneyDisease          556701
ChronicCond_Cancer                 556701
ChronicCond_ObstrPulmonary         556701
ChronicCond_Depression             556701
ChronicCond_Diabetes               556701
ChronicCond_IschemicHeart          556701
ChronicCond_Osteoporasis           556701
ChronicCond_rheumatoidarthritis    556701
ChronicCond_stroke                 556701
IPAnnualReimbursementAmt           553700
IPAnnualDeductibleAmt              556556
OPAnnualReimbursementAmt           554625
OPAnnualDeductibleAmt              555914
Age                                556627
AliveorDead                        556701
ClmDiagnosisCodeIndex              556692
ClmProcedureCodeIndex              556697
dtype: int64

In [162]:
# Drop features not needed for model training
df_train1 = df_train1.drop(columns=['ClmAdmitDiagnosisCode',  'AdmissionDt', 'DischargeDt', 'ClaimID', 'ClaimEndDt', 'ClaimStartDt', 'BeneID', 'ClaimID', 'DiagnosisGroupCode'], axis=1)

df_test1 = df_test1.drop(columns=['ClmAdmitDiagnosisCode', 'AdmissionDt',  'DischargeDt', 'ClaimID', 'ClaimEndDt', 'ClaimStartDt', 'DiagnosisGroupCode'], axis=1)

In [163]:
print(df_train1.isnull().sum())

Provider                                0
PotentialFraud                          0
InscClaimAmtReimbursed                  0
AttendingPhysician                      0
OperatingPhysician                 442270
OtherPhysician                     356980
DeductibleAmtPaid                       0
Admitted                                0
DurationofClaim                         0
NumberofDaysAdmitted                    0
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
Age                                     0
AliveorDead                             0
ClmDiagnosisCodeIndex                   0
ClmProcedureCodeIndex                   0
dtype: int64

In [164]:
df_train1['OperatingPhysician'] = df_train1['OperatingPhysician'].fillna('PHY')
df_train1['OPhysician'] = df_train1['OtherPhysician'].fillna('PHY')
df_test1['OperatingPhysician'] = df_test1['OperatingPhysician'].fillna('PHY')
df_test1['OPhysician'] = df_test1['OtherPhysician'].fillna('PHY')

In [165]:
df_train1['PotentialFraud'] = df_train1['PotentialFraud'].map({'No': 0, 'Yes': 1})

In [166]:
# Split data into train and validation set
from sklearn.model_selection import train_test_split

df_train2 , df_val = train_test_split(df_train1, test_size=0.10, random_state=42)

y_train = df_train2.pop('PotentialFraud')
X_train = df_train2

y_val = df_val.pop('PotentialFraud')
X_val = df_val

X_test = df_test1


print(X_train.shape, X_val.shape, X_test.shape)

(501032, 36) (55671, 36) (135045, 37)